*{
    box-sizing: border-box;
    margin : 0px;
    padding: 0px;
    color: white;
}

body{
    background: black;
    font-family: 'Overpass', sans-serif;
}

.btn-all{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #252d37;
    border: none;
    color: #7c8798;
}

.list-item{
    list-style: none;
}


.rating-btn:hover{
    color: white;
    background: #fb7413;
    cursor: pointer;    
}

.rating-btn:focus{
    background: #7c8798;
    color: white;
}
.align-items-center{
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    justify-content: space-between;
}

#paragraph{
    font-size: 0.98rem;
    color: #7c8798;
}

#main-container{
    width: 90%;
    background-color: #101a29;
    margin :0 auto;
    padding: 2em 1em;
    border-radius: 20px;
}

.margin-bottom-1em{
    margin: 1em;
}

#submit-btn{
    background-color: #fb7413;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    padding: 0.7em 0;
    border-radius: 25px;
    border-style: none;
    transition: background 0.3s , color 0.3s;
}

#submit-btn:hover{
    background: white;
    color: #fb7413;
    cursor: pointer;
}



/* Landing Page */


#phone-svg{
    margin: 0px auto;
    width: 100%;
}

.justify-content-sp-around{
    justify-content: space-around;
}

#rating-text{
    background-color: #252d37;
    padding: 0.7em;
    border-radius: 25px;
    width: 80%;
}

.rating-text-clr{
    color: #fb7413;
}

.text-align-cent{
    text-align: center;
}

@media all and (min-width : 375px){
    body {
        /* background: lightgreen; */
    }
    #main-container{
        margin: 10% auto;
        max-width: 400px;
    }
    
}